# Ignore everything
*

# Except the .gitignore file
!.gitignore

# Except the "custom" and "winter" folders and its contents
!custom/
!custom/**

# Except the SyncOps plugin which is WIP
!numencode/syncops/
!numencode/syncops/**
