==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">WebArea</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li><a href="https://numencode.com" target="_blank">NumenCode Dev Blog</a></li>
                <li><a href="https://github.com/numencode/" target="_blank">NumenCode GitHub</a></li>
                <li><a href="{{ backendUrl }}">Backend</a></li>
            </ul>
        </div>
    </div>
</nav>